::-webkit-scrollbar {
    display: none;
  }


html, body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
  line-height: 1.2;
}


/*header*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img{
height: 3.125rem;
margin-left: 24px;
}

.logo img:nth-child(1n+2) {
  display: none;
}

.logo p {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: gray;
}

.navigation {
  margin-right: 1.5rem;
}

.navigation li{
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation a:hover {
  transition: color 1s ease-in 0.5ms;
}

.navigation a:hover {
  color: blue;
}

/*maincontent*/

.maincontent {
  margin-top: 4rem;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

/*Lean something new everyday section*/


/*spacer only for mobile site*/

.spacer {
  display: none;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d8d8d8;
}

.bannerpic {
  width: 60%;
  margin-right: 2.5rem;
  overflow: hidden;
}

.bannerpic img {
  width: 100%;
  margin: 2rem 2.5rem 2rem 1.5rem;
}

.bannertext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 27.5rem;
  width: 26.4375rem;
  overflow: hidden;
}

.bannertext .h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.bannertext p {
  font-size: 1.5625rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.bannertext .button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 90%;
  text-align: center;
  background-color: #484848;
}

.bannertext .button a {
  text-decoration: none;
  color: white;
}

.bannertext .button a:hover {
  transition: color 1s ease-in 0.5ms;
}

.bannertext .button a:hover {
  color: blue;
}


/*It doesn't hurt to keep practicing section*/

.maininfo {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  background-color: #f0f0f0;
}

.main1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.main1 img {
  height: 21rem;
  width: 100%;
  left: 0;
  margin-top: 2rem;
}

.main1 .h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.main1 p {
  font-size: 1.1875rem;
  margin-bottom: 1.875rem;
}

.main2 {
  border-left: 1px solid lightgray;
}

.main2 .box img:nth-child(0n+2) {
  display: none;
}

.main2 .box:last-child {
  background-color: #d8d8d8;
}

.box {
  display: flex;
  align-items: center;
  height: 10.5rem;
  width: 28.125rem;
  margin: 1rem;
}

.box img{
    height: 8.5rem;
    width: 35%;
    padding: 1rem;
}

.box .h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.box p:last-child {
  margin-top: 1rem;
}

.box a {
  color: #1e90ff;
  text-decoration: none;
}


/*Start learning courses section*/

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #d3d3d3;
}

.courseinfo {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.courseinfo-mobile {
  display: none;
}

.coursehead .h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row {
  width: 25.5%;
  background-color: white;
}

.row img {
  height: 7.8125rem;
  width: 100%;
}

.row .h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    margin-top: 1rem;
    margin-left:  1rem;
}

.row p {
  padding-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}


.margin {
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

.center {
  margin-right: 2rem;
  margin-left: 2rem;
}


/*Thesis section*/

.thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
}

.thesisheader .h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.thesisinfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0;
}

.thesisbox {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 2rem;
}

.thesisbox .h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.thesisbox1 {
  display: flex;
  flex-direction: column;
  width: 51%;
}

.thesisbox1 .h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.thesisbox:first-child {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.box2 {
  display: flex;
  align-items: center;
  height: 10.5rem;
  width: 26.4375rem;
}

.box2:first-child {
  background-color: #d8d8d8;
}

.box2 img{
    height: 8.5rem;
    width: 35%;
    padding: 1rem;
}

.boxy {
  width: 100%;
  margin-right: 0;
}


/*footer*/

footer {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  width: 100%;
  text-align: right;
  border-top: 1px solid #d3d3d3;
}

footer p{
  margin-top: 1rem;
}

footer p:first-child {
  margin-left: 1.5rem;
}

footer p:last-child {
  word-spacing: 0.625rem;
  margin-right: 1.75rem;
}

/*section for mobile site */

@media only screen and (max-width: 420px) {
  html {
    font-size: 8px;
  }

  header {
    height: 8rem;
  }

  .logo img {
    height: 4rem;
    margin-right: 7rem;
  }

  .logo img:nth-child(1n+2) {
    display: flex;
    justify-content: space-around;
  }

  .spacer {
    display: flex;
    height: 28rem;
    background-color: #484848;
  }

  .maincontent {
    margin-top: 8rem;
  }

  .bannertext {
    margin-left: 2rem;
    overflow: visible;
    width: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .bannertext .h1 {
    font-size: 5.4rem;
  }

  .bannertext p {
    margin-top: 0;
  }

  .bannertext p:nth-child(0n+2) {
    font-size: 3.6rem;
  }

  .bannertext .button {
    font-size: 3rem;
    width: 96%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .maininfo {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .main2 .box {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .main2 .box img {
    height: 18rem;
  }

  .main2 .box:last-child {
    background-color: inherit;
  }

  .main2 .box img:nth-child(0n+2) {
    display: flex;
    width: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .main2 .box .h2 {
    font-size: 2.9rem;
  }

  .boxtext {
    margin-left: 2rem;
    width: 100%;
  }

  .course {
    width: 100%;
    background-color: #f0f0f0;
  }

  .coursehead .h1 {
    font-size: 4rem;
    margin-top: 4rem;
  }

  .courseinfo-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .courseinfo-mobile p {
    font-weight: bold;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    background-color: #d8d8d8;
  }

  .row .h2 {
    display: flex;
  }

  .thesisheader .h1 {
    font-size: 4rem;
    margin-bottom: auto;
  }

  .thesisbox:first-child {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 100%;
  }

  footer {
    align-items: center;
  }

  footer p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

/*all the sections that are turned off for mobile site*/

  .logo p,
  .navigation,
  .bannerpic,
  .main1,
  .main2 .box img:nth-child(0n+1),
  .row,
  .thesisbox .h2,
  .thesisbox p,
  .thesisbox1,
  footer p:last-child {
    display: none;
  }
}
